/* Home.css */
body {
  background: linear-gradient(to right, #a8d8f0, #c1e1f2); /* Light blue gradient */
  margin: 0; /* Remove default margin */
}

.home {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  background: linear-gradient(to right, #a8d8f0, #c1e1f2); /* Light blue gradient */
  padding: 40px; 
  margin-top: 150px; /* Added margin to create space above */
}

.text-container {
  max-width: 60%; 
  margin-right: 20px; /* Ensure there's no extra space here */
  text-align: center;
}

h1, h2, h3 {
  margin: 0; /* Remove default margins */
}
  
h1 {
  font-size: 5rem; /* Adjust font size */
  line-height: 1.2; /* Line height for spacing */
  margin-bottom: 20px; /* Space below the first heading */
}

h2 {
  font-size: 4rem; /* Adjust font size */
  margin-top: 15px; /* Space above the second heading */
  margin-bottom: 10px; /* Space below the second heading */
}
  
h3 {
  font-size: 3rem; /* Adjust font size for the title */
  color: black; /* Title color */
  margin-bottom: 20px; /* Space below the third heading */
}
h3 span{
    color: blue; /* Highlight color */
    font-weight: bold;

}
  
  .highlight {
    color: blue; /* Highlight color */
    font-weight: bold;
  }
  
  .bouncing-effect {
    display: inline-block;
    animation: bounce 0.6s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  p {
    color: #333; /* Text color for the paragraph */
    line-height: 1.6; /* Increase line height for readability */
  }
  
  .about-button {
    background-color: blue; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor */
  }
  
  .about-button:hover {
    background-color: darkblue; /* Hover effect */
  }
  
  .image-container {
    padding-right: 200px; /* Add padding to the left */
    display: flex;
    justify-content: right; /* Center the image container */
  }
  
  .profile-image {
    border-radius: 100%; /* Circle shape */
    width: 200px; /* Set the width */
    height: 250px; /* Set the height */ 
  }

  /* Add this for the section below the home */
.skills-section {
  margin-top: 100px; /* Adjust margin as needed */
}
/* Remove margin between image and text */
.text-container p,
.text-container h3,
.text-container h2,
.text-container h1 {
  margin: 0; /* Remove default margins */
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;  /* Green background */
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #007bff;  /* Darker green on hover */
}

.btn:active {
  background-color: #007bff;  /* Even darker on click */
}

.btn:focus {
  outline: none;
}
